
# 1. Local Database Files
*.db
*.sqlite
*.sqlite3
*.mdf
*.ldf
*.bak
*.sql.gz
*.dump
*.bin


# 2. Security, Credentials, and Environment
.env
*.env
config.json
secrets.txt
credentials/


# 3. Text Editors and IDE Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# 4. Logs, Backups, and System Clutter
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
