IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'GEOGRAFIJA')
	DROP DATABASE [GEOGRAFIJA]
GO

CREATE DATABASE [GEOGRAFIJA]  
 COLLATE Macedonian_CI_AS
GO

use [GEOGRAFIJA]
GO

CREATE TABLE [dbo].[CONTINENT] (
	[id_continent] [numeric](18, 0) IDENTITY (1, 1) NOT NULL ,
	[CONTINENT] [nvarchar] (50) COLLATE Macedonian_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TOPONIM] (
	[id_toponim] [numeric](18, 0) IDENTITY (1, 1) NOT NULL ,
	[tip] [nvarchar] (50) COLLATE Macedonian_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DRZAVA] (
	[id_drzava] [numeric](18, 0) IDENTITY (1, 1) NOT NULL ,
	[imedrzava] [nvarchar] (50) COLLATE Macedonian_CI_AS NULL ,
	[cont_id_continent] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[OBJEKT] (
	[id_objekt] [numeric](18, 0) IDENTITY (1, 1) NOT NULL ,
	[toponim_id_toponim] [numeric](18, 0) NULL ,
	[drzava_id_drzava] [numeric](18, 0) NULL ,
	[Ime] [nvarchar] (50) COLLATE Macedonian_CI_AS NULL ,
	[opis] [nvarchar] (100) COLLATE Macedonian_CI_AS NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CONTINENT] ADD 
	CONSTRAINT [PK_CONTINENT] PRIMARY KEY  CLUSTERED 
	(
		[id_continent]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TOPONIM] ADD 
	CONSTRAINT [PK_TOPONIM] PRIMARY KEY  CLUSTERED 
	(
		[id_toponim]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DRZAVA] ADD 
	CONSTRAINT [PK_DRZAVA] PRIMARY KEY  CLUSTERED 
	(
		[id_drzava]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[OBJEKT] ADD 
	CONSTRAINT [PK_OBJEKT] PRIMARY KEY  CLUSTERED 
	(
		[id_objekt]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DRZAVA] ADD 
	CONSTRAINT [FK_DRZAVA_CONTINENT] FOREIGN KEY 
	(
		[cont_id_continent]
	) REFERENCES [dbo].[CONTINENT] (
		[id_continent]
	)
GO

ALTER TABLE [dbo].[OBJEKT] ADD 
	CONSTRAINT [FK_OBJEKT_DRZAVA] FOREIGN KEY 
	(
		[drzava_id_drzava]
	) REFERENCES [dbo].[DRZAVA] (
		[id_drzava]
	),
	CONSTRAINT [FK_OBJEKT_TOPONIM] FOREIGN KEY 
	(
		[toponim_id_toponim]
	) REFERENCES [dbo].[TOPONIM] (
		[id_toponim]
	)
GO

